<div class="container" id="<%= dom_id paciente %>">
  <h2>Anamnesis Fonoaudiológica</h2>
  <table class="table">
    <tbody>
      <thead>
      <tr>
        <th colspan="4" class="table-active">Información paciente</th>
      </tr>
    </thead>
      <tr>
        <th>Nombre completo:</th>
        <td><%= paciente.apellido_paterno %> <%= paciente.apellido_materno %> <%= paciente.nombre_completo %></td>
        <th>Fecha Diagnóstico:</th>
        <td><%= paciente.fecha_diagnostico %></td>
      </tr>
      <tr>
        <th>Fecha evaluación:</th>
        <td><%= paciente.fecha_evaluacion %></td>
        <th>Edad:</th>
        <td><%= paciente.edad %></td>
      </tr>
      <tr>
        <th>Fecha Nacimiento:</th>
        <td><%= paciente.fecha_nacimiento %></td>
        <th>Teléfono:</th>
        <td><%= paciente.telefono %></td>
      </tr>
      <tr>
        <th>Diagnóstico Médico:</th>
        <td><%= paciente.diagnostico_medico %></td>
        <th>Dirección:</th>
        <td><%= paciente.direccion %></td>
      </tr>
      <tr>
        <th>Escolaridad:</th>
        <td><%= paciente.escolaridad %></td>
        <th>Nacionalidad:</th>
        <td><%= paciente.nacionalidad %></td>
      </tr>
       <tr>
        <th>Estado civil:</th>
        <td><%= paciente.e_civil %></td>
        <th>Profesion oficio:</th>
        <td><%= paciente.profesion_oficio %></td>
      </tr>
      <tr>
        <th>Lengua materna:</th>
        <td><%= paciente.lengua_materna %></td>
        <th>Lateralidad:</th>
        <td><%= paciente.lateralidad %></td>
      </tr>
      <tr>
        <th>Nombre acompanante (parentesco):</th>
        <td><%= paciente.nombre_acompanante_parentesco %></td>
        <th>N Ficha Clinica:</th>
        <td><%= paciente.n_ficha_clinica %></td>
      </tr>
      <tr>
        <th>Sexo:</th>
        <td><%= paciente.sexo %></td>
        <th></th>
        <td></td>
      </tr>

      </tbody>
    <!-- Insertar encabezado para sección de antecedentes médicos -->
    <thead>
      <tr>
        <th colspan="4" class="table-active">Antecedentes médicos relevantes (Antecedentes Mórbidos)</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <th>Audicion:</th>
        <td><%= paciente.audicion %></td>
        <th>DrogasL:</th>
        <td><%= paciente.drogas %></td>
      </tr>
      <tr>
        <th>Farmaco dependencia:</th>
        <td><%= paciente.farmaco_dependencia %></td>
        <th>Vision:</th>
        <td><%= paciente.vision %></td>
      </tr>
      <tr>
        <th>Cirugias:</th>
        <td><%= paciente.cirugias %></td>
        <th>Tec:</th>
        <td><%= paciente.tec %></td>
      </tr>
      <tr>
        <th>Diabetes:</th>
        <td><%= paciente.diabetes %></td>
        <th>Cond. Nutricional:</th>
        <td><%= paciente.cond_nutricional %></td>
      </tr>
      <tr>
        <th>Hipo hipertiroidismo:</th>
        <td><%= paciente.hipo_hipertiroidismo %></td>
        <th>Acv:</th>
        <td><%= paciente.acv %></td>
      </tr>
      <tr>
        <th>Hospitalizaciones:</th>
        <td><%= paciente.hospitalizaciones %></td>
        <th>Enf. respiratorias:</th>
        <td><%= paciente.enf_respiratorias %></td>
      </tr>
       <tr>
        <th>Tabaquismo:</th>
        <td><%= paciente.tabaquismo %></td>
        <th>Peso:</th>
        <td><%= paciente.peso %></td>
      </tr>
      <tr>
        <th>Cardiopatias:</th>
        <td><%= paciente.cardiopatias %></td>
        <th>Alcohol:</th>
        <td><%= paciente.alcohol %></td>
      </tr>
      <tr>
        <th>Talla:</th>
        <td><%= paciente.talla %></td>
        <th>Tumores neoplasias:</th>
        <td><%= paciente.tumores_neoplasias %></td>
      </tr>
      <tr>
        <th>Medicamentos:</th>
        <td><%= paciente.medicamentos %></td>
        <th>Dosis:</th>
        <td><%= paciente.dosis %></td>
      </tr>
      <tr>
        <th>Control consultorio:</th>
        <td><%= paciente.control_consultorio %></td>
        <th>Uso antidepresivos:</th>
        <td><%= paciente.uso_antidepresivos %></td>
      </tr>
      <tr>
        <th>HTA</th>
        <td><%= paciente.hta %></td>
        <th></th>
        <td></td>
      </tr>
      </tbody>
    <!-- Insertar encabezado para sección de antecedentes médicos -->
    <thead>
      <tr>
        <th colspan="4" class="table-active">Resumen Anamnesis</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4"><%= paciente.resumen_anamnesis %><br></td>
      </tr>
    </tbody>
  </table>
</div>
