<div id="<%= dom_id paciente %>">
  <p>
    <strong>Nombre completo:</strong>
    <%= paciente.nombre_completo %>
  </p>

  <p>
    <strong>Fecha evaluacion:</strong>
    <%= paciente.fecha_evaluacion %>
  </p>

  <p>
    <strong>Fecha diagnostico:</strong>
    <%= paciente.fecha_diagnostico %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= paciente.fecha_nacimiento %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= paciente.edad %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= paciente.direccion %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= paciente.telefono %>
  </p>

  <p>
    <strong>Diagnostico medico:</strong>
    <%= paciente.diagnostico_medico %>
  </p>

  <p>
    <strong>Escolaridad:</strong>
    <%= paciente.escolaridad %>
  </p>

  <p>
    <strong>Nacionalidad:</strong>
    <%= paciente.nacionalidad %>
  </p>

  <p>
    <strong>E civil:</strong>
    <%= paciente.e_civil %>
  </p>

  <p>
    <strong>Profesion oficio:</strong>
    <%= paciente.profesion_oficio %>
  </p>

  <p>
    <strong>Lengua materna:</strong>
    <%= paciente.lengua_materna %>
  </p>

  <p>
    <strong>Lateralidad:</strong>
    <%= paciente.lateralidad %>
  </p>

  <p>
    <strong>Nombre acompanante parentesco:</strong>
    <%= paciente.nombre_acompanante_parentesco %>
  </p>

  <p>
    <strong>N ficha clinica:</strong>
    <%= paciente.n_ficha_clinica %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= paciente.sexo %>
  </p>

  <p>
    <strong>Hta:</strong>
    <%= paciente.hta %>
  </p>

  <p>
    <strong>Audicion:</strong>
    <%= paciente.audicion %>
  </p>

  <p>
    <strong>Drogas:</strong>
    <%= paciente.drogas %>
  </p>

  <p>
    <strong>Farmaco dependencia:</strong>
    <%= paciente.farmaco_dependencia %>
  </p>

  <p>
    <strong>Vision:</strong>
    <%= paciente.vision %>
  </p>

  <p>
    <strong>Cirugias:</strong>
    <%= paciente.cirugias %>
  </p>

  <p>
    <strong>Tec:</strong>
    <%= paciente.tec %>
  </p>

  <p>
    <strong>Diabetes:</strong>
    <%= paciente.diabetes %>
  </p>

  <p>
    <strong>Cond nutricional:</strong>
    <%= paciente.cond_nutricional %>
  </p>

  <p>
    <strong>Hipo hipertiroidismo:</strong>
    <%= paciente.hipo_hipertiroidismo %>
  </p>

  <p>
    <strong>Acv:</strong>
    <%= paciente.acv %>
  </p>

  <p>
    <strong>Hospitalizaciones:</strong>
    <%= paciente.hospitalizaciones %>
  </p>

  <p>
    <strong>Enf respiratorias:</strong>
    <%= paciente.enf_respiratorias %>
  </p>

  <p>
    <strong>Tabaquismo:</strong>
    <%= paciente.tabaquismo %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= paciente.peso %>
  </p>

  <p>
    <strong>Cardiopatias:</strong>
    <%= paciente.cardiopatias %>
  </p>

  <p>
    <strong>Alcohol:</strong>
    <%= paciente.alcohol %>
  </p>

  <p>
    <strong>Talla:</strong>
    <%= paciente.talla %>
  </p>

  <p>
    <strong>Tumores neoplasias:</strong>
    <%= paciente.tumores_neoplasias %>
  </p>

  <p>
    <strong>Medicamentos:</strong>
    <%= paciente.medicamentos %>
  </p>

  <p>
    <strong>Dosis:</strong>
    <%= paciente.dosis %>
  </p>

  <p>
    <strong>Control consultorio:</strong>
    <%= paciente.control_consultorio %>
  </p>

  <p>
    <strong>Uso antidepresivos:</strong>
    <%= paciente.uso_antidepresivos %>
  </p>

  <p>
    <strong>Resumen anamnesis:</strong>
    <%= paciente.resumen_anamnesis %>
  </p>

</div>
