<h1>Usuarios</h1>

<div class="container mt-4">
  <!-- Search Form -->
  <%= form_with url: pacientes_path, method: :get, local: true, class: "d-flex mb-4" do %>
    <div class="input-group">
      <%= text_field_tag :query, params[:query], placeholder: "Apellido", class: "" %>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  <% end %>



<table class="table table-striped table-hover">
  <thead class="table-info">
    <tr>
      <th>Paterno</th>
      <th>Materno</th>
      <th>Nombres</th>
      <th>Fecha de Nacimiento</th>
      <th>Teléfono</th>

      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @pacientes.each do |paciente| %>
      <tr>
        <td><%= paciente.apellido_paterno %></td>
        <td><%= paciente.apellido_materno %></td>
        <td><%= paciente.nombre_completo %></td>
        <td><%= paciente.fecha_nacimiento %></td>
        <td><%= paciente.telefono %></td>

        <td>
          <%= link_to paciente, class: "btn btn-sm btn-primary", title: "Ver" do %>
            <i class="bi bi-eye-fill"></i>
          <% end %>
          <%= link_to edit_paciente_path(paciente), class: "btn btn-sm btn-success", title: "Editar" do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>

           <%= link_to "", paciente_path(paciente), data: { turbo_confirm: "¿Estas seguro?", turbo_method: :delete }, method: :delete, class: "btn btn-sm btn-danger bi bi-trash-fill" %>
           <%= link_to "Nueva Atención", new_atencion_path(paciente_id: paciente.id), class: "btn btn-sm btn-primary", title: "Nueva Atención" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
<%= link_to "Nuevo Paciente", new_paciente_path, class: "btn btn-success" %>
