<% if current_user %>
  <div class="alert alert-primary" role="alert">
    <p>Hola <%= current_user&.email %></p>
    <p>Tu rol es: <%= current_user&.role %></p>
    <% if current_user.admin? %>
      <p>Total de Usuarios: <%= User.count %></p>
    <% end %>
  </div>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>

<% else %>
  <div class="alert alert-warning w-25" role="alert">
    <p>No has iniciado sesión</p>
  </div>
  <p>
    <%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-primary' %><br>
    <%= link_to "Iniciar Sesión", new_user_session_path, class: 'btn btn-secondary mt-2' %>
  </p>
<% end %>
