<div id="<%= dom_id bitacora %>">
  <p>
    <strong>Numero semana:</strong>
    <%= bitacora.numero_semana %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= bitacora.fecha %>
  </p>

  <p>
    <strong>Alumno:</strong>
    <%= bitacora.alumno %>
  </p>

  <p>
    <strong>Profesor:</strong>
    <%= bitacora.profesor %>
  </p>

  <p>
    <strong>Registro:</strong>
    <%= bitacora.registro %>
  </p>

  <p>
    <strong>Acuerdos:</strong>
    <%= bitacora.acuerdos %>
  </p>

</div>
