<%= form_with(model: bitacora) do |form| %>
  <% if bitacora.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(bitacora.errors.count, "error") %> prohibited this bitacora from being saved:</h4>
      <ul>
        <% bitacora.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :numero_semana %>
    <%= form.number_field :numero_semana, class: 'form-select w-50 text-black', style: 'display: block' %>
  </div>

  <div class="mb-3">
    <%= form.label :fecha %>
    <%= form.date_field :fecha, class: 'form-select w-50 text-black', style: 'display: block' %>
  </div>



  <!-- Alumno 2 -->
  <div class="mb-3">
    <%= form.label :alumno2, "Alumno 2" %>
    <%= form.collection_select :alumno2, User.where(role: 0), :email, :email, { prompt: "Seleccione Alumno 2" }, { class: 'form-select w-50 text-black' } %>
  </div>

  <!-- Profesor 1 -->
  <div class="mb-3">
    <%= form.label :profesor, "Profesor 1" %>
    <%= form.collection_select :profesor, User.where(role: [1, 2]), :email, :email, { prompt: "Seleccione Profesor 1" }, { class: 'form-select w-50 text-black' } %>
  </div>

  <!-- Profesor 2 -->
  <div class="mb-3">
    <%= form.label :profesor2, "Profesor 2" %>
    <%= form.collection_select :profesor2, User.where(role: [1, 2]), :email, :email, { prompt: "Seleccione Profesor 2" }, { class: 'form-select w-50 text-black' } %>
  </div>

  <div class="mb-3">
    <%= form.label :registro %>
    <%= form.text_area :registro, class: 'form-select w-50 text-black', style: 'display: block' %>
  </div>

  <div class="mb-3">
    <%= form.label :acuerdos %>
    <%= form.text_area :acuerdos, class: 'form-select w-50 text-black', style: 'display: block' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
