<%= form_with(model: bitacora) do |form| %>
  <% if bitacora.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(bitacora.errors.count, "error") %> prohibited this bitacora from being saved:</h4>
      <ul>
        <% bitacora.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :numero_semana %>
    <%= form.number_field :numero_semana, class: 'form-select w-50 text-black', style: 'display: block' %>
  </div>

  <div class="mb-3">
    <%= form.label :fecha %>
    <%= form.date_field :fecha, class: 'form-select w-50 text-black', style: 'display: block' %>
  </div>



<% if current_user %>
    <%= form.hidden_field :alumno, value: current_user.email %>
  <% end %>

  <div class="mb-3">
    <%= form.label :profesor %>
   <%= form.collection_select :profesor, User.where(role: [1, 2]), :email, :email, {prompt: "Seleccione profesor"}, {class: 'form-select w-50 text-black'} %>
  </div>

  <div class="mb-3">
    <%= form.label :registro %>
    <%= form.text_area :registro, class: 'form-select w-50 text-black', style: 'display: block' %>
  </div>

  <div class="mb-3">
    <%= form.label :acuerdos %>
    <%= form.text_area :acuerdos, class: 'form-select w-50 text-black', style: 'display: block' %>
  </div>

  <div class="mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
