<div id="<%= dom_id atencion %>">
  <p>
    <strong>Paciente:</strong>
    <%= atencion.paciente_id %>
  </p>

  <p>
    <strong>Centro:</strong>
    <%= atencion.centro_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= atencion.user_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= atencion.fecha %>
  </p>

  <p>
    <strong>Tutor:</strong>
    <%= atencion.tutor %>
  </p>

  <p>
    <strong>Evolucion:</strong>
    <%= atencion.evolucion %>
  </p>

  <p>
    <strong>Revision tutor:</strong>
    <%= atencion.revision_tutor %>
  </p>

</div>
