<h1>Lista de Atenciones</h1>

<!-- Search Form -->
<%= form_with url: atencions_path, method: :get, local: true, class: "mb-4" do %>
  <div class="input-group">
    <%= text_field_tag :query, params[:query], placeholder: "Apellido paciente", class: "" %>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </div>
<% end %>

<table class="table table-striped table-hover">
   <thead class="table-info">
    <tr>
      <th>Paciente</th>
      <th>Centro</th>
      <th>Alumno</th>
      <th>Fecha</th>

      <th>Tutor</th>
      <th>Evolución</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @atencions.each do |atencion| %>
      <tr>
        <td><%= atencion.paciente.nombre_completo %> <%= atencion.paciente.apellido_paterno %> <%= atencion.paciente.apellido_materno %></td>
        <td><%= atencion.centro.nombre %></td>
        <td><%= atencion.user.nombres %> <%= atencion.user.apellido_paterno %> <%= atencion.user.apellido_materno %></td>
        <td><%= atencion.fecha %></td>
        <td><%= atencion.tutor %></td>
        <td><%= atencion.evolucion %></td>
        <td>
          <%= link_to atencion, class: "btn btn-primary btn-sm" do %>
            <i class="bi bi-eye-fill"></i>
          <% end %>
          <%= link_to edit_atencion_path(atencion), class: "btn btn-success btn-sm" do %>
            <i class="bi bi-pencil-fill"></i>
          <% end %>

           <%= link_to "", atencion_path(atencion), data: { turbo_confirm: "¿Estas seguro?", turbo_method: :delete }, method: :delete, class: "btn btn-sm btn-danger bi bi-trash-fill" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Pagination Links -->
<%== pagy_bootstrap_nav(@pagy) %>


<%= link_to "Nueva Atención", new_atencion_path, class: "btn btn-primary" %>
