<p style="color: green"><%= notice %></p>

<%= render @atencion %>

<div>
  <%= link_to "Edit this atencion", edit_atencion_path(@atencion) %> |
  <%= link_to "Back to atencions", atencions_path %>

  <%= button_to "Destroy this atencion", @atencion, method: :delete %>
</div>
