<div id="<%= dom_id centro %>">
  <p>
    <strong>Nombre:</strong>
    <%= centro.nombre %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= centro.area %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= centro.comuna %>
  </p>

  <p>
    <strong>Modalidad:</strong>
    <%= centro.modalidad %>
  </p>

  <p>
    <strong>Otros:</strong>
    <%= centro.otros %>
  </p>

</div>
