<div id="<%= dom_id(centro) %>">
  <table class="table">

    <tbody>
      <tr>
        <td><strong>Nombre:</strong></td>
        <td><%= centro.nombre %></td>
      </tr>
      <tr>
        <td><strong>Área:</strong></td>
        <td><%= centro.area %></td>
      </tr>
      <tr>
        <td><strong>Comuna:</strong></td>
        <td><%= centro.comuna %></td>
      </tr>
      <tr>
        <td><strong>Modalidad:</strong></td>
        <td><%= centro.modalidad %></td>
      </tr>
      <tr>
  <td><strong>Otros:</strong></td>
  <td><%= simple_format(centro.otros) %></td>
</tr>

    </tbody>
  </table>
</div>

