<!DOCTYPE html>
<html>
  <head>
    <title>Clinica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="d-flex flex-nowrap" style="min-height: 100vh;">
    <%= render 'layouts/sidebar' %>

   <div class="flex-grow-1" style="overflow-y: auto;">
    <%= yield %>
  </div>
    </main>
  </body>
</html>
