<!DOCTYPE html>
<html>
  <head>
    <title>Clinica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

<div class="wrapper">

    <!-- Sidebar -->
        <aside id="sidebar">

            <div class="h-100">
                <div class="sidebar-logo">
                    <a id="nav-title" href="<%= root_path %>" target="_self">
                    <%= image_tag("FCR-02.png", alt: "Logo Unab", width: "210", height: "75") %></a>
                </div>
                <div class="sidebar-header">

        <div class="user-info">
          <% if user_signed_in? %>
            <span class="user-status">
              <%= current_user.email %><br>
              <i class="bi bi-circle-fill text-success"></i>
              <span><%= current_user.role.capitalize %> online</span><br>
              <span>
                 <%= link_to "Cerrar sesi칩n", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
              <% else %>
                <strong>Usuario</strong><br>
              </span>
              <span class="user-status">
                <i class="bi bi-circle-fill text-danger"></i>
                <span>Offline</span><br>
                <span>
                  <%= link_to "Iniciar sesi칩n", new_user_session_path %>
                <% end %>
              </span>
            </span>
          </div>
        </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <li class="sidebar-header">Alumnos</li>

                    <li class="sidebar-item">
                        <a href="<%= pacientes_path %>" class="sidebar-link"><i class="bi bi-file-medical"></i><span> Fichas Medicas</span></a>
                    </li>
                    <li class="sidebar-item">
                      <a href="<%= atencions_path %>" class="sidebar-link"><i class="bi bi-card-text"></i><span> R. Atenciones</span></a>
                    </li>
                     <li class="sidebar-item">
                      <a href="<%= bitacoras_path %>" class="sidebar-link"><i class="bi bi-journal-bookmark"></i><span> Bit치cora</span></a>
                    </li>


                    <li class="sidebar-header">Profesores</li>
                      <li class="sidebar-item">
                        <a href="<%= centros_path %>" class="sidebar-link"><i class="bi bi-building"></i><span> Centros</span></a>
                      </li>


                     <li class="sidebar-item">
                      <a href="<%= revision_atencions_path %>" class="sidebar-link"><i class="bi bi-ui-checks-grid"></i><span> Revisi칩n</span></a>
                    </li>

                       <li class="sidebar-header">Consultas</li>
                      <li class="sidebar-item">
                        <a href="" class="sidebar-link"><i class="bi bi-speedometer"></i><span> Dashboard</span></a>
                      </li>


                     <li class="sidebar-item">
                      <a href="#" class="sidebar-link"><i class="bi bi-archive"></i><span> Archivo</span></a>
                    </li>

                    <li class="sidebar-header">
                        Administrador
                    <li class="sidebar-item">
                        <a href="<%= rails_admin_path %>" class="sidebar-link">
                            <i class="bi bi-people"></i><span> Alumnos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="<%= rails_admin_path %>" class="sidebar-link">
                            <i class="bi bi-book"></i><span> Docentes</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <!-- Button for sidebar toggle -->
                <button class="btn" type="button" data-bs-theme="dark">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <%= yield %>
                    </div>
                </div>
            </main>
        </div>

 </div>
  </body>
</html>



 <style>


*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(<%= asset_path 'fondo.jpg' %>);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;


}

h3 {
    font-size: 1.2375rem;
    color: #FFF;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/* Layout skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1111;
}

/* Sidebar collapse */

#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}

  </style>

<script>
const toggler = document.querySelector(".btn");
toggler.addEventListener("click",function(){
    document.querySelector("#sidebar").classList.toggle("collapsed");
});
</script>
